.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #687818;
  border-color: #687818; }

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 3px #687818;
  border-color: #687818; }

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  box-shadow: 0 0 20px #687818;
  border-color: #687818;
  background: #687818; }

.custom-control-label::before {
  border-radius: 0.25rem;
  border-color: #687818; }

.b1 {
  background-color: #FFD58E; }

.b2 {
  background-color: #687818;
  color: #FFD58E;
  font-weight: bold; }

.navbar-dark {
  background-color: #687818; }

.nav2 {
  background-color: #FFD58E;
  margin: #FFD58E 1px solid;
  margin-top: 68px; }

.modal-header {
  background-color: #687818;
  color: #FFD58E;
  font-weight: bold; }
  .modal-header .close {
    color: #FFD58E; }

.t1 {
  margin-top: 150px;
  padding: 0px;
  width: 100%; }

.carousel-item {
  height: 100%; }
  .carousel-item img {
    min-height: 150px; }

#mycarousel {
  width: 100%;
  margin: 0px;
  padding: 0px; }

.t2 {
  margin-bottom: 20%; }

.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 300px; }

.row-header {
  margin-top: 100px;
  font-weight: bold;
  color: #3c1605;
  border-bottom: ridge 2px;
  width: 100%;
  height: fit-content;
  padding-bottom: 1%;
  margin-bottom: 1%; }

a {
  color: inherit; }

.item {
  padding: 0px;
  height: fit-content;
  max-width: 250px;
  margin: 3px;
  background-color: #FFD58E; }
  .item .abt {
    background-color: white;
    color: #3c1605;
    padding: 0px; }
    .item .abt h6 {
      font-weight: bold;
      font-size: 110%;
      margin: 0px; }
    .item .abt .desc {
      font-size: 80%;
      margin: 0px; }
    .item .abt p {
      margin-top: 2%;
      border: 1px solid #FFD58E;
      font-weight: bold;
      font-size: 100%;
      margin: 0px; }
  .item .pic {
    margin: 3%; }

footer {
  background-color: #687818;
  color: #FFD58E;
  margin: 0px auto;
  padding: 20px 0px;
  text-decoration: none; }

@media (max-width: 933px) {
  .carousel-item {
    height: 150px; }
    .carousel-item img {
      height: 150px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      max-width: 265%; } }

@media (max-width: 575px) {
  .t1 {
    margin-top: 100px; } }

@media (max-width: 425px) {
  .abt {
    font-size: 60%; } }

/*<div class="sml text-center border">
                    <span class="border">S</span>
                    <span>M</span>
                    <span>L</span>
              </div>*/
